<main class="contenido">
  <div class="container row mb-3" style="margin-left: auto;">
    <div class="row botones">
      <p class="text-end">Hola
        {{usuario}}
        <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion
          <i class="fas fa-sign-out-alt"></i></a>
      </p>
    </div>
  </div>
  <div class="btn-agregar">
    <a class="boton" href="/admin/productos/agregar">Añadir
      <i class="fas fa-plus-circle"></i></a>
  </div>
  <div class="items">
    {{#each productos}}
      <div>
        <div class="item">
          <div class="item-img" style="height: 85%;">
            {{{imagen}}}
          </div>          
          {{!-- <img src="/images/logo.png" alt="" /> --}}
          <span class="modelo">{{marca}} - {{modelo}}</span>
          <div class="detalle">
            <h2>Detalle</h2>
            <p>{{descripcion}}</p>
          </div>
        </div>
        <div class="botones btn-prod">
          <a
            class="boton-producto a1"
            href="/admin/productos/modificar/{{id_producto}}"
          ><i class="far fa-edit"></i></a>
          <a
            class="boton-producto"
            href="/admin/productos/eliminar/{{id_producto}}"
          ><i class="far fa-trash-alt"></i></a>
        </div>
      </div>
    {{/each}}
  </div>

</main>